.modal-overlay{
    background-color: rgba(0, 0, 0, 0.26);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal-content{
    background-color: white;
    width: 65%;
    padding-bottom:1em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.modal-header .task-checkbox{
    min-width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}


.edit-name{
    font-size: 1.35em;
   
    width: 100%;
    padding-right: 1em;
    
    border: none;
    outline: none;
}

.edit-description{
    font-size: 1em;
   
    width: 100%;
    padding-left: 4em;
    padding-right: 1em;
    
    border: none;
    outline: none;
    resize: none;
}

hr {
    border-top: 0.15em solid var(--darkgrey);
    width: 100%;
    margin-bottom: 0.8em;
}

.modal-footer button{
    font-size: 1em;
    width: 6em;
    padding: 0.4em 0em;
    
    border: none;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 500ms;
}



.modal-footer button:hover{
    cursor: pointer;
}

.modal-footer button svg{
    width: 1em;
}

.modal-footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.delete {
    background-color: #FF5050;
    color:white;
}

.delete:hover{
    background-color: #ff2d2d;
}

.cancel{
    margin-left: auto;
    background-color: var(--lightgrey);
}

.cancel:hover{
    background-color: var(--mediumgrey);
}


.save{
    background-color: #3096E0;
    color: white;
    margin-left: 1.5em;
    
}

.save svg {
    fill: white;
}

.cancel svg {
    fill: var(--darkgrey);
}

.delete svg {
    fill: white;
}

.save:hover{
    background-color: #0080db;
}


/* Telas grandes */
@media only screen and (min-width: 600px) {
    .modal-content {
        font-size: 16px;
    }
}

/* Telas pequenas */
@media only screen and (max-width: 600px) {
    .modal-content {
        font-size: 18px;
        width: 90%;
    }
    .modal-footer button .action-name{
        display: none;
    }
    .modal-footer button {
        width: 3em;
        height: 2.5em;
    }
    .modal-header{
        padding:0.1em;
    }
    .edit-description{
        padding-left: 1em;
    }
}