* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --card-bg: white;

    --darkgrey: #808080;
    --mediumdarkgrey: #CACACA;
    --mediumgrey: #DBDBDB;
    --lightgrey: #EAEAEA;
    
}